(
bullet.002,
bullet.003,
bullet.005,
bullet.006,
bullet.007,
bullet.008,
bullet.009,
emdash.002,
emdash.003,
emdash.005,
emdash.006,
emdash.007,
emdash.008,
emdash.009,
endash.002,
endash.003,
endash.005,
endash.006,
endash.007,
endash.008,
endash.009,
quotedblleft.001,
quotedblleft.003,
quotedblleft.004,
quotedblleft.005,
quotedblleft.006,
quotedblleft.008,
quotedblleft.009,
quotedblleft.010,
quotedblleft.011,
quotedblleft.012,
quotedblleft.013,
quotedblleft.014,
quotedblleft.015,
quotedblleft.016,
quotedblleft.017,
quotedblright.001,
quotedblright.003,
quotedblright.004,
quotedblright.005,
quotedblright.008,
quotedblright.009,
quotedblright.010,
quotedblright.011,
quotedblright.012,
quotedblright.013,
quotedblright.014,
quotedblright.015,
quotedblright.016,
quotedblright.017,
quoteright.001,
quoteright.003,
quoteright.004,
quoteright.005,
quoteright.006,
quoteright.007,
quoteright.008,
quoteright.009,
quoteright.010,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
emdash.015,
quoteright.016,
CR,
NULL,
.notdef,
period,
comma,
colon,
semicolon,
exclam,
question,
asterisk,
slash,
bullet.014,
bullet.015,
bullet.016,
bullet.017,
bullet.020,
bullet.021,
bullet.022,
bullet.023,
bullet.024,
bullet.025,
bullet.026,
bullet.027,
bullet.028,
bullet.029,
bullet.030,
bullet.031,
bullet.032,
bullet.033,
bullet.034,
bullet.035,
bullet.036,
bullet.037,
bullet.038,
bullet.039,
bullet.040,
bullet.041,
bullet.042,
bullet.043,
bullet.044,
bullet.045,
bullet.046,
bullet.047,
bullet.048,
bullet.049,
bullet.050,
bullet.051,
bullet.052,
bullet.053,
bullet.054,
bullet.055,
bullet.056,
bullet.057,
bullet.058,
bullet.059,
bullet.060,
bullet.061,
bullet.062,
bullet.063,
bullet.064,
bullet.065,
bullet.066,
bullet.067,
bullet.068,
bullet.069,
bullet.070,
bullet.071,
bullet.072,
bullet.073,
bullet.074,
bullet.075,
bullet.076,
bullet.077,
bullet.078,
bullet.079,
bullet.080,
bullet.081,
bullet.082,
bullet.083,
bullet.084,
bullet.085,
bullet.086,
bullet.087,
bullet.088,
bullet.089,
bullet.090,
bullet.091,
bullet.092,
bullet.093,
bullet.094,
bullet.095,
bullet.096,
bullet.097,
bullet.098,
bullet.099,
bullet.100,
bullet.101,
bullet.102,
bullet.103,
bullet.104,
bullet.105,
bullet.106,
bullet.107,
bullet.108,
bullet.109,
bullet.110,
bullet.111,
bullet.112,
bullet.113,
bullet.114,
bullet.115,
bullet.116,
bullet.117,
bullet.118,
bullet.119,
bullet.120,
bullet.121,
bullet.122,
bullet.123,
bullet.124,
bullet.125,
bullet.126,
bullet.127,
bullet.128,
bullet.129,
bullet.130,
bullet.131,
bullet.132,
bullet.133,
bullet.134,
bullet.135,
bullet.136,
bullet.137,
bullet.138,
bullet.139,
bullet.140,
bullet.141,
bullet.142,
bullet.144,
bullet.145,
bullet.146,
bullet.147,
bullet.148,
bullet.149,
bullet.150,
bullet.151,
bullet.152,
bullet.153,
bullet.154,
bullet.155,
bullet.156,
bullet.157,
bullet.158,
bullet.159,
bullet.160,
bullet.161,
bullet.162,
bullet.163,
bullet.164,
bullet.165,
bullet.166,
bullet.167,
bullet.168,
bullet.169,
bullet.170,
bullet.171,
bullet.172,
bullet.173,
bullet.174,
bullet.175,
bullet.176,
bullet.177,
bullet.178,
bullet.179,
bullet.180,
bullet.181,
bullet.182,
bullet.183,
bullet.184,
hyphen,
endash.014,
endash.015,
endash.016,
endash.020,
endash.021,
endash.022,
endash.023,
endash.024,
endash.025,
endash.026,
endash.027,
endash.028,
endash.029,
endash.030,
endash.031,
endash.032,
endash.033,
endash.034,
endash.035,
endash.036,
endash.037,
endash.038,
endash.039,
endash.040,
endash.041,
endash.042,
endash.043,
endash.044,
endash.045,
endash.046,
endash.047,
endash.048,
endash.049,
endash.050,
endash.051,
endash.052,
endash.053,
endash.054,
endash.055,
endash.056,
endash.057,
endash.058,
endash.059,
endash.060,
endash.061,
endash.062,
endash.063,
endash.064,
endash.065,
endash.066,
endash.067,
endash.068,
endash.069,
endash.070,
endash.071,
endash.072,
endash.073,
endash.074,
endash.075,
endash.076,
endash.077,
endash.079,
endash.080,
endash.081,
endash.082,
endash.083,
endash.084,
endash.085,
endash.086,
endash.087,
endash.088,
endash.089,
endash.090,
endash.091,
endash.092,
endash.093,
endash.094,
endash.095,
endash.096,
emdash.014,
emdash.016,
emdash.020,
emdash.021,
emdash.022,
emdash.023,
emdash.024,
emdash.025,
emdash.026,
emdash.027,
emdash.028,
emdash.029,
emdash.030,
emdash.031,
emdash.032,
emdash.033,
emdash.034,
emdash.035,
emdash.036,
emdash.037,
emdash.038,
emdash.039,
emdash.040,
emdash.041,
emdash.042,
emdash.043,
emdash.044,
emdash.045,
emdash.046,
emdash.047,
emdash.048,
emdash.049,
emdash.050,
emdash.051,
emdash.052,
emdash.053,
emdash.054,
emdash.055,
emdash.056,
emdash.057,
emdash.058,
emdash.059,
emdash.060,
emdash.061,
emdash.062,
emdash.063,
emdash.064,
emdash.065,
emdash.066,
emdash.067,
emdash.068,
emdash.069,
emdash.070,
emdash.071,
emdash.072,
emdash.073,
emdash.074,
emdash.075,
emdash.076,
emdash.077,
emdash.078,
emdash.079,
emdash.080,
emdash.081,
emdash.082,
emdash.083,
emdash.084,
emdash.085,
emdash.086,
emdash.087,
emdash.088,
emdash.089,
emdash.090,
emdash.091,
emdash.092,
emdash.093,
emdash.094,
emdash.095,
emdash.096,
emdash.097,
emdash.098,
emdash.099,
emdash.100,
emdash.101,
emdash.102,
emdash.103,
emdash.104,
emdash.105,
emdash.106,
parenleft,
parenright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedblleft.028,
quotedblleft.029,
quotedblleft.033,
quotedblleft.034,
quotedblleft.040,
quotedblleft.041,
quotedblleft.042,
quotedblleft.043,
quotedblleft.044,
quotedblleft.045,
quotedblleft.046,
quotedblleft.047,
quotedblleft.048,
quotedblleft.049,
quotedblleft.050,
quotedblleft.051,
quotedblleft.052,
quotedblleft.053,
quotedblleft.054,
quotedblleft.055,
quotedblleft.056,
quotedblleft.057,
quotedblleft.058,
quotedblleft.059,
quotedblleft.060,
quotedblleft.061,
quotedblleft.062,
quotedblleft.063,
quotedblleft.064,
quotedblleft.065,
quotedblleft.066,
quotedblleft.067,
quotedblleft.068,
quotedblleft.069,
quotedblleft.070,
quotedblleft.071,
quotedblleft.072,
quotedblleft.073,
quotedblleft.074,
quotedblleft.075,
quotedblleft.076,
quotedblleft.077,
quotedblleft.078,
quotedblleft.079,
quotedblleft.080,
quotedblleft.081,
quotedblleft.082,
quotedblleft.083,
quotedblleft.084,
quotedblleft.085,
quotedblleft.086,
quotedblleft.087,
quotedblleft.088,
quotedblleft.089,
quotedblleft.090,
quotedblleft.091,
quotedblleft.092,
quotedblleft.093,
quotedblleft.094,
quotedblleft.095,
quotedblleft.096,
quotedblleft.097,
quotedblleft.098,
quotedblleft.099,
quotedblleft.100,
quotedblleft.101,
quotedblleft.102,
quotedblleft.103,
quotedblleft.104,
quotedblleft.105,
quotedblleft.106,
quotedblleft.107,
quotedblleft.108,
quotedblleft.109,
quotedblleft.110,
quotedblleft.111,
quotedblleft.112,
quotedblleft.113,
quotedblleft.114,
quotedblleft.115,
quotedblleft.116,
quotedblleft.117,
quotedblleft.118,
quotedblleft.119,
quotedblleft.120,
quotedblleft.121,
quotedblleft.122,
quotedblleft.123,
quotedblleft.124,
quotedblleft.125,
quotedblleft.126,
quotedblleft.127,
quotedblleft.128,
quotedblleft.129,
quotedblleft.130,
quotedblleft.131,
quotedblleft.132,
quotedblleft.133,
quotedblleft.134,
quotedblleft.135,
quotedblleft.136,
quotedblleft.137,
quotedblleft.138,
quotedblleft.139,
quotedblleft.140,
quotedblleft.141,
quotedblleft.142,
quotedblleft.143,
quotedblleft.144,
quotedblleft.145,
quotedblleft.146,
quotedblleft.147,
quotedblleft.148,
quotedblleft.149,
quotedblleft.150,
quotedblleft.151,
quotedblleft.152,
quotedblleft.153,
quotedblleft.154,
quotedblleft.155,
quotedblleft.156,
quotedblleft.158,
quotedblleft.159,
quotedblleft.160,
quotedblleft.161,
quotedblleft.162,
quotedblleft.163,
quotedblleft.164,
quotedblleft.165,
quotedblleft.166,
quotedblleft.167,
quotedblleft.168,
quotedblleft.169,
quotedblleft.170,
quotedblleft.171,
quotedblleft.172,
quotedblleft.173,
quotedblleft.174,
quotedblleft.175,
quotedblleft.176,
quotedblleft.177,
quotedblleft.178,
quotedblleft.179,
quotedblleft.180,
quotedblleft.181,
quotedblleft.182,
quotedblleft.183,
quotedblleft.184,
quotedblleft.185,
quotedblleft.186,
quotedblleft.187,
quotedblleft.188,
quotedblleft.189,
quotedblleft.190,
quotedblleft.191,
quotedblleft.192,
quotedblleft.193,
quotedblleft.194,
quotedblleft.195,
quotedblleft.196,
quotedblleft.197,
quotedblleft.198,
quotedblleft.199,
quotedblleft.200,
quotedblleft.201,
quotedblleft.202,
quotedblleft.203,
quotedblleft.204,
quotedblleft.205,
quotedblleft.206,
quotedblleft.207,
quotedblleft.208,
quotedblleft.209,
quotedblleft.210,
quotedblleft.211,
quotedblleft.212,
quotedblleft.213,
quotedblleft.214,
quotedblleft.215,
quotedblleft.216,
quotedblleft.217,
quotedblleft.218,
quotedblleft.219,
quotedblleft.220,
quotedblleft.221,
quotedblleft.222,
quotedblleft.223,
quotedblleft.224,
quotedblleft.225,
quotedblleft.226,
quotedblleft.227,
quotedblleft.228,
quotedblleft.229,
quotedblleft.230,
quotedblleft.231,
quotedblleft.232,
quotedblleft.233,
quotedblleft.234,
quotedblleft.235,
quotedblleft.236,
quotedblleft.237,
quotedblleft.238,
quotedblright.028,
quotedblright.029,
quotedblright.030,
quotedblright.031,
quotedblright.032,
quotedblright.033,
quotedblright.039,
quotedblright.040,
quotedblright.041,
quotedblright.042,
quotedblright.043,
quotedblright.044,
quotedblright.045,
quotedblright.046,
quotedblright.047,
quotedblright.048,
quotedblright.049,
quotedblright.050,
quotedblright.051,
quotedblright.052,
quotedblright.053,
quotedblright.054,
quotedblright.055,
quotedblright.056,
quotedblright.057,
quotedblright.058,
quotedblright.059,
quotedblright.060,
quotedblright.061,
quotedblright.062,
quotedblright.063,
quotedblright.064,
quotedblright.065,
quotedblright.066,
quotedblright.067,
quotedblright.068,
quotedblright.069,
quotedblright.070,
quotedblright.071,
quotedblright.072,
quotedblright.073,
quotedblright.074,
quotedblright.075,
quotedblright.076,
quotedblright.077,
quotedblright.078,
quotedblright.079,
quotedblright.080,
quotedblright.081,
quotedblright.082,
quotedblright.083,
quotedblright.084,
quotedblright.085,
quotedblright.086,
quotedblright.087,
quotedblright.088,
quotedblright.089,
quotedblright.090,
quotedblright.091,
quotedblright.092,
quotedblright.093,
quotedblright.094,
quotedblright.095,
quotedblright.096,
quotedblright.097,
quotedblright.098,
quotedblright.099,
quotedblright.100,
quotedblright.101,
quotedblright.102,
quotedblright.103,
quotedblright.104,
quotedblright.105,
quotedblright.106,
quotedblright.107,
quotedblright.108,
quotedblright.109,
quotedblright.110,
quotedblright.111,
quotedblright.112,
quotedblright.113,
quotedblright.114,
quotedblright.115,
quotedblright.116,
quotedblright.117,
quotedblright.118,
quotedblright.119,
quotedblright.120,
quotedblright.121,
quotedblright.122,
quotedblright.123,
quotedblright.124,
quotedblright.125,
quotedblright.126,
quotedblright.127,
quotedblright.128,
quotedblright.129,
quotedblright.130,
quotedblright.131,
quotedblright.132,
quotedblright.133,
quotedblright.134,
quotedblright.135,
quotedblright.136,
quotedblright.137,
quotedblright.138,
quotedblright.139,
quotedblright.140,
quotedblright.141,
quotedblright.142,
quotedblright.143,
quotedblright.144,
quotedblright.145,
quotedblright.146,
quotedblright.147,
quotedblright.148,
quotedblright.149,
quotedblright.150,
quotedblright.151,
quotedblright.152,
quotedblright.153,
quotedblright.154,
quotedblright.155,
quotedblright.156,
quotedblright.158,
quotedblright.159,
quotedblright.160,
quotedblright.161,
quotedblright.162,
quotedblright.163,
quotedblright.164,
quotedblright.165,
quotedblright.166,
quotedblright.167,
quotedblright.168,
quotedblright.169,
quotedblright.170,
quotedblright.171,
quotedblright.172,
quotedblright.173,
quotedblright.174,
quotedblright.175,
quotedblright.176,
quotedblright.177,
quotedblright.178,
quotedblright.179,
quotedblright.180,
quotedblright.181,
quotedblright.182,
quotedblright.183,
quotedblright.184,
quotedblright.185,
quotedblright.186,
quotedblright.187,
quotedblright.188,
quotedblright.189,
quotedblright.190,
quotedblright.191,
quotedblright.192,
quotedblright.193,
quotedblright.194,
quotedblright.195,
quotedblright.196,
quotedblright.197,
quotedblright.198,
quotedblright.199,
quotedblright.201,
quotedblright.202,
quotedblright.203,
quotedblright.204,
quotedblright.205,
quotedblright.206,
quotedblright.207,
quotedblright.208,
quotedblright.209,
quotedblright.210,
quotedblright.211,
quotedblright.212,
quotedblright.213,
quotedblright.214,
quotedblright.215,
quotedblright.216,
quotedblright.217,
quotedblright.218,
quotedblright.219,
quotedblright.220,
quotedblright.221,
quotedblright.222,
quotedblright.223,
quotedblright.224,
quotedblright.225,
quotedblright.226,
quotedblright.227,
quotedblright.228,
quotedblright.229,
quotedblright.230,
quotedblright.231,
quotedblright.232,
quotedblright.233,
quotedblright.234,
quotedblright.235,
quotedblright.236,
quotedblright.237,
quotedblright.238,
quotedblright.239,
quotedblright.240,
quotedblright.241,
quotedblright.242,
quotedblright.243,
quotedblright.244,
quotedblright.245,
quotedblright.246,
quotedblright.247,
quotedblright.248,
quotedblright.250,
quotedblright.252,
quotedblright.253,
quotedblright.254,
quotedblright.255,
quotedblright.256,
quotedblright.257,
quotedblright.258,
quotedblright.259,
quotedblright.260,
quotedblright.261,
quotedblright.262,
quotedblright.263,
quotedblright.264,
quotedblright.265,
quotedblright.266,
quotedblright.267,
quotedblright.268,
quotedblright.269,
quotedblright.270,
quotedblright.271,
quotedblright.272,
quotedblright.273,
quotedblright.274,
quotedblright.275,
quotedblright.276,
quotedblright.277,
quotedblright.278,
quotedblright.279,
quotedblright.280,
quotedblright.281,
quotedblright.282,
quotedblright.283,
quoteright.015,
quoteright.018,
quoteright.021,
quoteright.022,
quoteright.023,
quoteright.024,
quoteright.025,
quoteright.026,
quoteright.027,
quoteright.028,
quoteright.029,
quoteright.030,
quoteright.031,
quoteright.032,
quoteright.033,
quoteright.034,
quoteright.035,
quoteright.036,
quoteright.037,
quoteright.038,
quoteright.039,
quoteright.040,
quoteright.041,
quoteright.042,
quoteright.043,
quoteright.044,
quoteright.045,
quoteright.046,
quoteright.047,
quoteright.048,
quoteright.049,
quoteright.050,
quoteright.051,
quoteright.052,
quoteright.053,
quoteright.054,
quoteright.055,
quoteright.056,
quoteright.057,
quoteright.058,
quoteright.059,
quoteright.060,
quoteright.061,
quoteright.062,
quoteright.063,
quoteright.064,
quoteright.065,
quoteright.066,
quoteright.067,
quoteright.068,
quoteright.069,
quoteright.070,
quoteright.071,
quoteright.072,
quoteright.073,
quoteright.074,
quoteright.075,
quoteright.076,
quoteright.077,
quoteright.078,
quoteright.079,
quoteright.081,
quoteright.082,
quoteright.083,
quoteright.084,
quoteright.085,
quoteright.086,
quoteright.087,
quoteright.088,
quoteright.089,
quoteright.090,
quoteright.091,
quoteright.092,
quoteright.093,
quoteright.094,
quoteright.095,
quoteright.096,
quoteright.097,
quoteright.098,
quoteright.099,
quoteright.100,
quoteright.101,
quoteright.102,
quoteright.103,
quoteright.104,
quoteright.105,
quoteright.106,
quoteright.107,
quoteright.108,
plus,
equal,
percent,
quotedblleft.030,
bullet.001,
bullet.012,
bullet.013,
emdash.012,
emdash.013,
endash.001,
endash.012,
endash.013,
quotedblleft.022,
quotedblleft.023,
quotedblleft.024,
quotedblleft.025,
quotedblleft.027,
quotedblright.021,
quotedblright.022,
quotedblright.023,
quotedblright.024,
quotedblright.025,
quotedblright.026,
quotedblright.027,
quoteright.014,
EMPTY,
"mooniakpushpa-lksymbol",
"pushpa-lksymbol",
"wipfontnote-lksymbol"
)